.logo-link {
    h2 {
        color: rgb(255, 255, 255);
        margin-bottom: 0;
    }
}
.logo-link:hover {
    text-decoration: none!important;
}
.logout-text {
    span {
        // text-align: right;
        color: #363636;
        font-size: 1.25rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.0075em;
    }
}

.navbar {
    padding: 0.5rem 0!important;
    background-color: #2D2D2D!important;
}

.nav-back-shadow {
    box-shadow: 0 5px 10px 0 #383535;
    height: 4rem;
}

.top-header {
    // border-right: 1px solid white;
    // border-left: 1px solid white;
    // padding: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #363636;
    padding-left: 12px!important;
    padding-right: 12px!important;
}

.avatar-button {
    margin-right: 32px;
}

#responsive-navbar-nav {
    z-index: 10;
}

@media (min-width: 767px) {
    .center-items {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        margin-right: 36px;
    }
    #responsive-navbar-nav {
        padding: 10px 24px;
        background-color: white;
    }
    .avatar-button {
        padding: 8px 12px;
    }
    // .navbar-light .navbar-nav .nav-link {
    //     color: white;
    // }
    // .MuiButton-containedPrimary {
    //     background-color: white!important;
    //     color: #2b455f!important;
    // }
}